/* root
-------------------- */

:root {
  --black: #111729;
  --light-gray: #cdd5e0;
  --white2: #f8fafc;
  --white: #fff;
  --navy: #4036a9;

  /* color map */
  --text: var(--white);
  --form-text: var(--black);
  --form-submit-text: var(--navy);
  --form-ele-background: var(--white2);
  --form-placeholder: var(--light-gray);

  /* font */
  --font-base: 'Be Vietnam Pro', inter, system-ui, avenir, helvetica, arial,
    sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* common
-------------------- */

.container {
  max-width: 640px;
  padding: 0 4%;
  margin: 0 auto;
}

@media (width > 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width > 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width > 1280px) {
  .container {
    max-width: 1280px;
  }
}
